@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(calc(2 * 360deg));
    }
}

.spinner {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}