.block-button {
    border: 1px solid black;
    color: black;
    padding: 20px;
    outline: none;
    font-weight: bold;

    &:hover, &:focus {
        cursor: pointer;
    }

    &:active {
        border: 1px solid rgb(36, 36, 36);
    }
}