@keyframes shake {
    $rotation: 10deg;
    0% {transform: rotate(0);}
    25% {transform: rotate($rotation);}
    50% {transform: rotate(-$rotation);}
    75% {transform: rotate($rotation);}
    100% {transform: rotate(0);}
}

.cart-icon {
    position: relative;
    user-select: none;
    width: 28px;
    animation-duration: 0.3s;
    transition: transform 0.2s;
    cursor: pointer;

    .item-count {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.7rem;
        font-weight: bold;
    }

    &:hover {
        transform: scale(1.1) rotate(10deg);
    }
}