$spacing: 40px;

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
        flex: 4 4 0;
        margin-right: $spacing;

        &:last-child {
            text-align: right;
            flex: 1 1 0;
            margin-right: 0;
        }
    }
}

.checkout-header {
    font-size: 1.5rem;
}

.checkout-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;

    .total {
        margin-right: 20px;
        font-size: 2.5rem;
    };
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;

    .empty-cart-text {
        font-size: 3rem;
        margin: 70px 0;
    }
}