@mixin shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.28);
}

.header {
    display: flex;
    background-color: white;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    height: 8rem;
    z-index: 1000;
    cursor: default;

    .logo-container .logo {
        margin-right: 30px;
        transition: filter 0.3s;

        &:hover {
            filter: invert(100%);
        }
    }

    .links-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .cart-dropdown {
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 10;
    }
}